<!-- Navigation -->
<nav *ngIf="!isLogged" id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
            <a *ngIf="!isLogged" class="btn btn-primary" style="color:darkgoldenrod" href="/login">Вход/Регистрация</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isLogged" class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li *ngIf="isLogged" class="page-scroll">
                    <a class="btn btn-primary" (click)="logout()" href="#">Изход</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li *ngIf="isLogged" class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li *ngIf="isLogged" class="page-scroll">
                    <a href="#portfolio">Привет, {{username}}!</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<nav *ngIf="isLogged" class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Привет, {{user.username}}</a></li>
            <li *ngIf="isManager"><a href="/manager"><span class="glyphicon glyphicon-book"></span> Управление на ЕС</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a (click)="logout()" href="#"><span class="glyphicon glyphicon-log-in"></span>Изход</a></li>
        </ul>
    </div>
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="https://a.optnmnstr.com/users/3cbeee57fc1c/images/30f9b75891501472785456-Book-Transparent-Background.png" alt="">
                <div class="intro-text">
                    <span class="name">Домова книга</span>
                    <hr class="star-light">
                    <span class="skills">Направи лесно управлението на етажната собственост.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div *ngIf="!isLogged">
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Избери си роля</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://thumb1.shutterstock.com/display_pic_with_logo/3925298/401665657/stock-vector--man-in-business-suit-man-profile-avatar-icon-vector-illustration-401665657.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="https://thumb9.shutterstock.com/display_pic_with_logo/534712/308471366/stock-vector-profile-icon-male-avatar-portrait-casual-person-silhouette-face-flat-design-vector-illustration-308471366.jpg" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Помощ</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Изпрати отзив</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Име</label>
                                <input type="text" class="form-control" placeholder="Име" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Имейл</label>
                                <input type="email" class="form-control" placeholder="Имейл" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Телефонен номер</label>
                                <input type="tel" class="form-control" placeholder="Телефонен номер" id="phone" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Съобщение</label>
                                <textarea rows="5" class="form-control" placeholder="Съобщение" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Изпрати</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<div *ngIf="isLogged">
    <div class="panel btn-pref btn-group btn-group-justified " role="group" style="margin-top:10px;height:500px;wight:900px; background-color:#bdc;">
        <div>
            <div class="tab-content " style="margin-top:10px; ">
                <div class="tab-pane panel  active" id="tab1" style="margin-top:10px;height:500px;wight:900px; background-color:#bdc;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4>Профил</h4>
                                    </div>
                                    <!-- Upload Profile Image Popup -->
                                    <div class="modal fade" id="myModal" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Качи профилна снимка</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="img-input">Поставете линка към снимката:</label>
                                                        <input type="text" class="form-control" id="img-input" [(ngModel)]="newImgUrl">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" (click)="uploadImageClick()" class="btn btn-success" data-dismiss="modal">Качи</button>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Затвори</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="box box-info">
                                            <div class="box-body">
                                                <div class="col-sm-6">
                                                    <div align="center">
                                                        <img alt="User Pic" [src]="user.imgUrl" id="profile-image1" class="img-circle img-responsive pointer-mouse" data-toggle="modal" data-target="#myModal">
                                                        <div style="color:#999;">
                                                            <a class="pointer-mouse" id="profile-image-upload" data-toggle="modal" data-target="#myModal">Кликни</a> за да си избереш снимка
                                                        </div>
                                                        <!--Upload Image Js And Css-->
                                                    </div>
                                                    <br>
                                                    <!-- /input-group -->
                                                </div>
                                                <div class="col-sm-6">
                                                    <h4 style="color:#00b1b1;">{{user.username}}</h4>
                                                    <span><p><span *ngIf="user.manager">Управител на етажна собственост</span><span *ngIf="!user.manager">Собственик</span></p>
                                                    </span>
                                                </div>
                                                <div class="clearfix"></div>
                                                <hr style="margin:5px 0 5px 0;">


                                                <div class="col-sm-5 col-xs-6 tital ">Име</div>
                                                <div class="col-sm-7 col-xs-6 ">{{user.firstName}}</div>
                                                <div class="clearfix"></div>
                                                <div class="bot-border"></div>

                                                <div class="col-sm-5 col-xs-6 tital ">Фамилия</div>
                                                <div class="col-sm-7"> {{user.lastName}}</div>
                                                <div class="clearfix"></div>
                                                <div class="bot-border"></div>

                                                <div class="col-sm-5 col-xs-6 tital ">Номер на блок</div>
                                                <div class="col-sm-7"> {{user.flatNumber}}</div>
                                                <div class="clearfix"></div>
                                                <div class="bot-border"></div>

                                                <div class="col-sm-5 col-xs-6 tital ">Вход</div>
                                                <div class="col-sm-7"> {{user.exitNumber}}</div>
                                                <div class="clearfix"></div>
                                                <div class="bot-border"></div>

                                                <div class="col-sm-5 col-xs-6 tital ">Номер на апартамент</div>
                                                <div class="col-sm-7"> {{user.apartmentNumber}}</div>
                                                <div class="clearfix"></div>
                                                <div class="bot-border"></div>

                                                <div class="col-sm-5 col-xs-6 tital ">Квартал</div>
                                                <div class="col-sm-7"> {{user.neighborhood}}</div>
                                                <div class="clearfix"></div>
                                                <div class="bot-border"></div>

                                                <div class="col-sm-5 col-xs-6 tital ">Град</div>
                                                <div class="col-sm-7"> {{user.city}}</div>
                                                <div class="clearfix"></div>
                                                <div class="bot-border"></div>

                                                <div class="clearfix"></div>
                                                <div class="bot-border"></div>

                                                <div class="clearfix"></div>
                                                <div class="bot-border"></div>

                                                <div class="clearfix"></div>
                                                <div class="bot-border"></div>

                                                <div class="clearfix"></div>
                                                <div class="bot-border"></div>

                                                <!-- /.box-body -->
                                            </div>
                                            <!-- /.box -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane panel " id="tab2" style="margin-top:10px;height:500px;wight:900px; background-color:#bdc;">
                    <form role="form" class="form-inline">
                        <h4 *ngIf="!showApartment">Всички апартаменти в етажната собственост</h4>
                        <h4 *ngIf="showApartment">Собственици,обитатели и/или ползватели на апартамент {{showingApartment.apartmentNumber}}</h4>
                        <table *ngIf="!showApartment" class="table">
                            <thead>
                                <tr>
                                    <th>Покажи</th>
                                    <th>Номер</th>
                                    <th>Брой живeeщи</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="condominium">
                                <tr *ngFor="let apartment of apartments; let index = index">
                                    <td style="cursor: pointer;" (click)="onApartmentTableClick(index)" id="{{apartment.apartmentNumber}}"><span style="color: blue;">Покажи</span></td>
                                    <td>{{apartment.apartmentNumber}}</td>
                                    <td>{{apartment.users.length}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table *ngIf="showApartment" class="table">
                            <thead>
                                <tr>
                                    <th>Потребителско име</th>
                                    <th>Име</th>
                                    <th>Фамилия</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="condominium">
                                <tr *ngFor="let user of showingApartment.users; let index = index">
                                    <td>{{user.username}}</td>
                                    <td>{{user.firstName}}</td>
                                    <td>{{user.lastName}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <span style="margin-left: 45%;" *ngIf="showApartment" (click)="returnApartmentPage()" class="btn btn-primary">Назад</span>
                    </form>
                </div>
                <div class="tab-pane panel " id="tab3">
                    <form role="form" class="form-inline">
                        <h2> <br> ... Tab 3</h2>
                    </form>
                </div>
                <div class="tab-pane panel fade in " id="tab4" style="margin-top:10px;height:500px;wight:900px; background-color:#bdc;">
                    <form style="height: 100px" role="form" class="form-inline">
                        <h4 style="text-align: center"> <br> Закон за управление на етажната собственост</h4>
                        <br>
                        <h6 style="text-align: center">Можете да намерите закона <a href="http://lex.bg/en/laws/ldoc/2135614516">тук</a></h6>
                    </form>
                </div>
                <div class="tab-pane panel fade in " id="tab5">
                    <form role="form" class="form-inline">
                        <h2> <br> ... Tab 5</h2>
                    </form>
                </div>
                <div class="tab-pane panel fade in " id="tab6">
                    <form role="form" class="form-inline">
                        <h2> <br> ... Tab 6</h2>
                    </form>
                </div>
            </div>
            <div class="tabnav">
                <div class="btn-group btn-group-justified ">
                    <div class="btn-group  " role="group">
                        <button id="b1" type="button" class="btn btn-nav" href="#tab1" data-toggle="tab">
                        <div class="visible" >Профил  <span class="glyphicon glyphicon-user" aria-hidden="true"> </span></div>
                         </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-nav" href="#tab2" data-toggle="tab">
                         <div class="visible">Ап.№ <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></div>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-nav" href="#tab3" data-toggle="tab">
                             <div class="visible">Протоколи <span class="glyphicon glyphicon-picture" aria-hidden="true"></span></div>
                        </button>
                    </div>

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-nav" href="#tab4" data-toggle="tab">
                            
                        <div class="visible">ЗУЕС <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span></div>
                        </button>
                    </div>

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-nav" href="#tab5" data-toggle="tab">
                             <div class="visible">УС на ЕС <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span></div>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-nav" href="#tab6" data-toggle="tab">
                            <div class="visible">Съобщения <span class="glyphicon glyphicon-bell"  aria-hidden="true"></span></div>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Местоположение</h3>
                    <p>Академията на Телерик
                </div>
                <div class="footer-col col-md-4" *ngIf="!isLogged">
                    <h3>Свържете се с нас</h3>
                    <ul class="list-inline">
                        <li>
                            <a (click)="facebookLoginClick()" class="btn-social btn-outline"><i (click)="facebookLoginClick()" class="fa fa-fw fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>За домовата книга</h3>
                    <p>Направи лесно управлението на етажната собственост.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Your Website 2016
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you
                            can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/cake.png" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you
                            can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/circus.png" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you
                            can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/game.png" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you
                            can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you
                            can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you
                            can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>